<div class="container my-3">
    <div class="row text-center">
        <div class="col-12">
            <h1>EAT-DA-BURGER</h1>
            <p>Pick a burger to devour!</p>

            <img src="assets/img/burger.png" height='250px'>


        </div>

    </div>
    <div class="row mainSection my-5 py-3">
        <div class='col-3'>
            <h5 class="text-center">Fresh New Burgers</h5>
            <hr>
            {{#each nonDevoured}}
            <div id="non-devoured" class="burgers p-2 my-1">
                {{id}}. {{burger_name}}
                <button class="burgerBtn" name={{id}}><i class="fas fa-hamburger"></i></button>
            </div>
            {{/each}}
        </div>
        <div class="col-6 text-center">
            <h5>Add a new burger</h5>
            <hr>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="burgerName">
                </div>
                <button type="submit" id='createBurger' class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class='col-3'>
            <h5 class="text-center">Devoured Burgers</h5>
            <hr>
            {{#each devoured}}
            <div id="devoured" class="burgers p-2 my-1">
                {{id}}. {{burger_name}}
                <button class="burgerBtn" name={{id}}><i class="fa fa-trash-o"></i></button>
            </div>
            {{/each}}
        </div>
    </div>

</div>